/*#region fonts */
@font-face {
  font-family: "TitilliumWeb";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "arabic";
  src: url("../fonts/arabic_number_font.otf");
}
/*#endregion fonts */
